html{
    position: relative;
}
body{
    position: relative;
}
.btn{
    color:black;
    background-color: blueviolet;
    border-radius: 100px;
    width: 700px;
    height: 300px;
    top:100px;
    position: relative;
    left:500px;

    cursor:pointer;
    

}
.btn:hover{
    background-color: rgb(128, 91, 139);
    transition: all 0.6s;
}
.huy{
font-size: 10px;

font-weight:bolder;
position: relative;
left: 300px;
top:200px;
display: none;
}
.huy:target{
    transition:all 3s ease-in-out;
    display: block;
    font-size: 200px;
}